@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  /* position animation  */
  transition: 0.2s linear;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
html::-webkit-scrollbar {
  width: 0 !important;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
html a {
  text-decoration: none;
  color: white;
}

body {
  background: #151515;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  padding: 2rem 15%;
  justify-content: space-between;
  text-decoration: none;
  animation: fade-down 0.5s;
}
header .navbar a {
  margin: 0 1rem;
}
header .navbar a:hover {
  color: rgb(158, 233, 217);
}

.main {
  animation: fade-up 0.3s;
  background: rgba(138, 206, 191, 0.158);
  border-radius: 20rem;
  height: auto;
}
.main .home {
  animation: fade-up 0.3s;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 8%;
  align-items: center;
  gap: 2rem;
}
.main .home .box-image img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
}
.main .home .box-detail {
  color: white;
}
.main .home .box-detail h1 {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(144, 238, 222), 0 0 5px rgb(144, 238, 222);
}
.main .home .box-detail h2 {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(144, 238, 222), 0 0 5px rgb(144, 238, 222);
}
.main .home .box-detail h3 {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(144, 238, 222), 0 0 5px rgb(144, 238, 222);
}
.main .home .box-detail h5 {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(144, 238, 222), 0 0 5px rgb(144, 238, 222);
}
.main .about-me {
  animation: fade-up 0.3s;
  display: none;
}
.main .about-me .box-about-me h1 {
  margin-bottom: 2rem;
  text-align: center;
}
.main .about-me .box-about-me a {
  background: #151515;
  border-radius: 5rem;
  padding: 1rem;
  margin: 0.8rem 1rem;
  position: absolute;
  right: 23rem;
}
.main .about-me .box-about-me a:hover {
  box-shadow: 1px 1px 2px black, 0 0 10px rgb(144, 238, 222), 0 0 3px rgb(144, 238, 222);
}
.main .about-me .box-about-me img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 13rem;
}
.main .work {
  animation: fade-up 0.3s;
  display: none;
}
.main .work h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.main .work .box-project {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.main .work .box-project .box-item {
  background: #151515;
  border-radius: 2rem;
  padding: 2rem;
  height: 450px;
  width: 340px;
}
.main .work .box-project .box-item span {
  font-size: 80%;
}
.main .work .box-project .box-item img {
  height: 50%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
}
.main .work .box-project .box-item .link .git {
  margin-right: 0.5rem;
  background: green;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
.main .work .box-project .box-item .link .exam {
  margin-right: 0.5rem;
  background: blueviolet;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
.main .work .box-project .box-item .item {
  display: flex;
  gap: 0.5rem;
  color: #151515;
  margin: 1rem 0;
}
.main .work .box-project .box-item .item p {
  font-size: 80%;
}
.main .work .box-project .box-item .item .js {
  background: pink;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .re {
  background: lightblue;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .html {
  background: lightcoral;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .css {
  background: lemonchiffon;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .node {
  background: lightslategray;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .db {
  background: lightgreen;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item .item .unity {
  background: gainsboro;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main .work .box-project .box-item:hover {
  box-shadow: 1px 1px 2px black, 0 0 10px rgb(144, 238, 222), 0 0 3px rgb(144, 238, 222);
}

.home > * {
  flex: 1 1 100px;
}/*# sourceMappingURL=style.css.map */